<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1> {{ todo_items.name }} </h1>
            <h2> Tasks </h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stuff in todo_items.items.all %}
                    <tr>
                        <td>
                            <a href="{% url 'todo_list_list' %}"> {{ stuff.task }} </a>
                        </td>
                        <td> {{ stuff.due_date }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
